# Node.js
node_modules/

# Dependencias de producción y desarrollo
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.*

# Directorios de compilación
dist/
build/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/
.idea/

# Archivos de prueba
coverage/

# Logs
logs/
*.log
